@page
@model RazorPagesToDoList.Pages.Records.IndexModel

@if (Model.IsImportMode)
{
    <form method="post">
        <nav class="navbar justify-content-end">
            <div class="form-inline my-2">
                Import
                <div class="form-group ml-2">
                    <label asp-for="ImportFromDate" class="control-label">from</label>
                    <input asp-for="ImportFromDate" class="form-control ml-2" />
                </div>
                <div class="form-group ml-2">
                    <label asp-for="ImportTillDate" class="control-label">till</label>
                    <input asp-for="ImportTillDate" class="form-control ml-2" />
                </div>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created date</th>
                    <th>Edited date</th>
                    <th>Is done</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RecordToImport)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EditedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDone)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-inline my-2 my-lg-0 justify-content-end">
            <button class="btn btn-outline-primary ml-2" asp-page-handler="ConfirmImport">Confirm</button>
            <button class="btn btn-outline-danger ml-2" asp-page-handler="CancelImport">Cancel</button>
        </div>
    </form>
}
else
{
    <nav class="navbar justify-content-end">
        <form class="form-inline my-2" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <input asp-for="FileUpload.FormFile" type="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" aria-label="Choose an excel file" aria-describedby="Choose an excel file">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" asp-page-handler="ImportExcel">Import Excel</button>
                </div>
            </div>
            <button class="btn btn-outline-primary ml-2" asp-page-handler="ExportAsExcel">Export as Excel</button>
        </form>
    </nav>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">Title</a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.CreatedDateSort">Created date</a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.EditedDateSort">Edited date</a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.IsDoneSort">Is done</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Record)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDone)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

